@{
    ViewData["Title"] = "Market Data";
}

<h2>Dashboard</h2>
<div style="display: flex; align-items: center; gap: 10px;">
    <!-- Bộ lọc thời gian -->
    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" class="form-control filter-input" onchange="validateDate()">
    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" class="form-control filter-input" onchange="validateDate()">
    <button type="button" class="btn btn-primary" onclick="fetchMarketData()">Filter</button>
</div>
<div class="row">
    <!-- Biểu đồ -->
    <canvas id="marketChart" class="marketChart"></canvas>
    <div class="row">
        <div class="col-md-6">
            <p>📉 Min Price: <span id="minPrice">...</span></p>
            <p>📈 Max Price: <span id="maxPrice">...</span></p>
            <p>📊 Avg Price: <span id="avgPrice">...</span></p>
        </div>
        <div class="col-md-6">
            <p>💰 Most Expensive Hour: <span id="mostExpensiveHour">...</span></p>
            <p>🛒 Best Buy Time: <span id="bestBuyTime">...</span></p>
            <p>💵 Best Sell Time: <span id="bestSellTime">...</span></p>
        </div>
    </div>
</div>

<!-- Script -->
<script src="https://cdn.jsdelivr.net/npm/hammerjs"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
<script>
    var BASE_URL = "@ViewBag.BaseUrl";
</script>
<script src="~/js/Home/home.js"></script>
