@{
    ViewData["Title"] = "Information";
}
<h1>@ViewData["Title"]</h1>

<div class="table-responsive col">
    <table id="dataTable" class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Market Price</th>
            </tr>
        </thead>
    </table>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="~/js/Information/information.js"></script>